body{
  background-color:whitesmoke;
}
ul li{
  list-style: none;
  display: block;
  font-size: 15px;
  
}
a{
  color:whitesmoke;
  text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
a:hover{
background-color:hotpink;
transition: 0.5s;
text-transform:initial;
border-radius: 32px;
}

